.example_image{ 
    width: 100vw; 
    height: 100vh; 
    background: url("comp_main.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

  } /* Фоновое изображение */
  body{margin: 0;}